body {
	background-color: #282828;
	height: 100vh;
	margin: 0;
	display: flex;
}

#container-categories {
	/* this centers the child in a flexbox vertically and horizontally and makes the children not 100vh by filling up the space with the margin of the element */
	margin: auto;
	display: flex;
	gap: 3vw;
	flex-wrap: wrap;
	justify-content: center;
}

.container-links {
	background-color: #a89984;
	/* fixed width needed for wrapping flexbox items */
	/* width: 300px; */
	width: 220px;
	padding: 10px;
	border-radius: 10px;
	/* shadow: vertical horizontal blur spread color */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-category {
	color: #282828;
	text-align: center;
}

.list-links {
	list-style-type: none;
	padding: 10px;
}

.list-item {
	text-align: center;
	display: flex;
	justify-content: center;
}

hr {
	border: none;
	width: 10%;
	height: 1px;
	background-color: #282828;
}

/* link style */
a:link {
	color: #282828;
	background-color: #a89984;
	text-decoration: none;
	width: 100%;
	border-radius: 4px;
	padding: 4px;
	transition: .2s;
}
a:visited {
	color: #282828;
	background-color: #a89984;
	text-decoration: none;
}
a:hover {
	color: #a89984;
	background-color: #282828;
}
